<div class="container mt-5">
    <h1>Bienvenido al curso</h1>
    <div class="container bg-white-transparent rounded-border p-4 mt-4 fs-4 text-justify">
        <p>Te presentamos el sitio oficial de nuestro taller "Maestro Zen en el Desarrollo de Software" que pertenece a una serie de talleres impartidos en la Universidad Autónoma de Aguascalientes como parte del Congreso de Ciencias Exactas (40° Aniversario).</p>
        <p>Siendo un Ingeniero en Sistemas Computacionales o un estudiante de dicha carrera estarás envuelto en un ambiente de trabajo donde debemos fomentar la colaboración y el uso de herramientas que faciliten el desarrollo.</p>

        <h2>¿Qué son las metodologías de desarrollo?</h2>

        <p>HABLAR DE METODOLOGÍAS TRADICIONALES Y ÁGILES</p>

        <h2>Software Development Life Cycle (SDLC)</h2>

        <p>EL CICLO DE VIDA DEL DESARROLLO DE SOFTWARE ES Y SE COMPONE DE</p>

        <h2>Scrum</h2>

        <p>QUÉ ES, ACTORES, REUNIONES, DOCUMENTOS O ACUERDOS, ETC.</p>

        <h2>Control de versión</h2>

        <p>QUÉ ES, QUÉ SOFTWARE HAY Y CÓMO FUNCIONA</p>
    </div>
</div>
