<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto" href="#">Maestro Zen en el Desarrollo de Software</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end bg-dark-grey" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header color-white">
          <h5 class="offcanvas-title text-white fs-2 mx-auto" id="offcanvasNavbarLabel">Menú</h5>
          <button type="button" class="color-white bg-dark-grey fs-3" data-bs-dismiss="offcanvas" aria-label="Close">x</button>
        </div>
        <div class="offcanvas-body fs-3">
          <ul class="navbar-nav text-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link underlined" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link underlined" href="#">Día 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link underlined" href="#">Día 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link underlined" href="#">Día 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link underlined" href="#">Día 4</a>
            </li>
            <li class="nav-item">
              <a class="nav-link underlined" href="#">Día 5</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>